.main {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  background-image: url("../public/pur.jpg");
  /* background-color: black; */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  display: flex;
  padding: 2rem 0;
  /* border-top: 1px solid #eaeaea; */
  height: 1px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #370052;
  /* background-color: #260d42; */
  /* background-color: #1f0c34; */
}

.image {
  width: 70%;
  height: 50%;
  margin-left: 20%;
}

.title {
  font-size: 3rem;
  margin: 2rem 26;
  padding: 2px;
  color: white;
}

.description {
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.2rem;
  color: white;
  padding: 3px;
}

.button {
  border-radius: 4px;
  background-color: #991f1f;
  border: none;
  color: #ffffff;
  font-size: 15px;
  padding: 16px;
  width: 194px;
  cursor: pointer;
  margin-bottom: 2%;
  margin-right: 18px;
}
@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
